{% extends 'layouts/app.twig' %}

{% block content %}

    <div class="row" style="border: 1px solid #000;"> 

        <h1>This is Home Page.</h1>
        
        <p>Current user is {{ user.email }}</p>

    </div>

{% endblock %}