{% extends 'layouts/app.twig' %}

{% block content %}

    <div class="card" style="border: 1px solid #000;"> 
        <div class="card-body">

            <h1>This is Home Page.</h1>
        
            <p>Current user is {{ user.email }}</p>

        </div>
    </div>

{% endblock %}