{% extends 'layouts/app.twig' %}

{% block content %}
    
    <div class="row">
        <h1>This is patient page</h1>

        <ul>
            {% if patients %}
                {% for patient in patients %}
                    <li><a href="#">{{ patient.hn }} {{ patient.pname ~ patient.fname ~ ' ' ~ patient.lname }}</a></li>
                {% endfor %}
            {% else %}
                {{ patient.hn }} {{ patient.pname ~ patient.fname ~ ' ' ~ patient.lname }}
            {% endif %}
        </ul>
    </div>

{% endblock %}
