<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is patient page</h1>
    <ul>
        {% if patients %}
            {% for patient in patients %}
                <li><a href="#">{{ patient.hn }} {{ patient.pname ~ patient.fname ~ ' ' ~ patient.lname }}</a></li>
            {% endfor %}
        {% else %}
            {{ patient.hn }} {{ patient.pname ~ patient.fname ~ ' ' ~ patient.lname }}
        {% endif %}
    </ul>
</body>
</html>